<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(function () {
      $('#datetimepicker1').datetimepicker();
  });
</script>  

<h3>Project Timeline</h3>
<table class="fullRow">
  <tr>
    <td>
        <h4>Project Phase</h4>
        <div class="btn-toolbar justify-content-between float-left" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">Assay Dev</button>
            <button type="button" class="btn btn-secondary">Pilot Work</button>
            <button type="button" class="btn btn-secondary">Screening</button>
            <button type="button" class="btn btn-secondary">Hit Validation</button>
            <button type="button" class="btn btn-secondary">Med Chem</button>
            <button type="button" class="btn btn-secondary">Advanced Studies</button>
          </div>
        </div>
    </td>
    <td>
      <h4>Phase Start</h4>
      <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
    </td>
    <td style="padding-left: 20px; padding-right: 20px;">
      <h4>Phase End</h4>
      <div class='input-group date' id='datetimepicker2'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
    </td>
  </tr>
</table>

<div style="border: 1px solid green; width: 100%; padding: 20px;">
    <table class="container-fluid timeLine">
      <tr class="sitOnTop">
        <td *ngFor="let i of testConfig; index as num" [ngStyle]="{'width': i.percentage+'%'}" style="text-align: left; padding-bottom: 15px !important;"  ngClass="myClass">{{i.name}}</td>
      </tr>
      <tr>
        <td *ngFor="let i of testConfig; index as num" [ngStyle]="{'background-color': i.color, 'height': ((i.percentage)*3)+'%', 'width': i.percentage+'%'}" ngClass="myClass" class="aBlock">{{drawCell(i,num)}}</td>
      </tr>
    </table>
    <table class="fullrow">   
        <tr class="timeLineRow">
          <td class="pullLeft">{{earliestYear}}</td>
          <td>|</td>
          <td>{{projectDuration}}</td>
          <td ng-if="ifExpression">{{middleYear}}</td>
          <td>|</td>
          <td class="pullRight">{{latestYear}}</td>
        </tr>
      </table>
</div>
